<div class="container-fluid">
    <div class="row justify-content-center">
     
        <div class="col-sm-10">
            <h3 class="text-center">List of Companies</h3>
            <div class="table-responsive-sm mt-3">
                <table class="table table-secondary">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">FullAddress</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let company of listOfCompanies; let i=index">
                      <tr [ngClass]="i % 2 === 0 ? 'table-info' : 'table-warning'">
                        <td>{{company.Id}}</td>
                        <td>{{company.Name}}</td>
                        <td>{{company.FullAddress}}</td>
                        <td>
                            <button type="button" class="btn btn-warning m-1">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                      </tr>
                      <tr>
                    </tbody>
                  </table>
              </div>
              <button type="button" class="btn btn-success">Create company</button>
        </div>
    </div>
</div>
  
